@media screen and (max-width: 1200px) {
	.wrapper {
		margin-bottom: 0;
	}
	footer {
		position: relative;
	}
}
@media screen and (max-width: 1136px) {
	.ken-col-md-12 {
		width: 100%;
	}
}
@media screen and (max-width: 992px) {
	/* Footer Widget */
	.opening-hours {
		ul {
			li {
				width: 48%;
				display: inline-block;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	#coffee-tabs {
		li {
			padding-right: 0;
		}
	}
}
@media screen and (max-width: 360px) {
	/* Menu */
	.cafe-menu-wrapper {
		padding: 30px 10px 50px;
	}
	/* Banner */
	#Banner {
		.home-banner-title, .banner-title-light {
			font-size: 50px;
		}
	}
	/* Footer Widget */
	.opening-hours {
		ul {
			li {
				width: 100%;
				text-align: center;
			}
		}
	}
}
