@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	#Banner {
		> .intro-content {
			.container {
				width: 1200px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	/* Menu */
	.absolute-md {
		position: absolute;
	}
	.relative-md {
		position: relative;
	}
}
@media screen and (min-width: 768px) {
	.nopadding {
		padding: 0;
	}
	.no-margin {
		margin: 0;
	}
	/* Menu */
	#Header {
		height: 154px;
		.navbar {
			min-height: 154px;
		}
		.navbar-brand {
			height: 154px;
			max-height: 154px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.navbar-collapse {
			padding-left: 15px;
			padding-right: 15px;
		}
		.nav {
			> li {
				border-top: 0;
				padding-top: 50px;
				padding-left: 30px;
				&:hover > a:before,
				&:focus > a:before,
				&:active > a:before,
				&.active > a:before {
					color: $color__main-brown;
					-webkit-transform: scale3d(1, 1, 1);
					-moz-transform: scale3d(1, 1, 1);
					-ms-transform: scale3d(1, 1, 1);
					-o-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
				}
			}
			> li > a {
				background-color: transparent;
				&:before {
					content: "";
					height: 2px;
					background-color: $color__main-brown;
					-webkit-transform: scale3d(0, 1, 1);
					-moz-transform: scale3d(0, 1, 1);
					-ms-transform: scale3d(0, 1, 1);
					-o-transform: scale3d(0, 1, 1);
					transform: scale3d(0, 1, 1);
					-webkit-transform-origin: 0 50%;
					transform-origin: 0 50%;
					-webkit-transition: -webkit-transform 0.3s;
					transition: -webkit-transform 0.3s;
					transition: transform 0.3s;
					transition: transform 0.3s, -webkit-transform 0.3s;
					-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
					transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
					left: 15px;
					right: 15px;
					bottom: 10px;
					position: absolute;
				}
			}
		}
		&.transparent {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			.navbar:not(.navbar-fixed-top) {
				background-color: rgba(17, 17, 17, 0.65);
				border-bottom: 2px solid rgba(147, 122, 107, 0.251);
				.navbar-brand {
					> img:first-child {
						display: block;
					}
					> img:last-child {
						display: none;
					}
				}
				.nav {
					> li > a {
						color: #fff;
					}
					> li.active > a,
					> li > a:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
	#Banner {
		padding-top: 200px;
		padding-bottom: 200px;
		> .intro-content {
			.container {
				h1 {
					margin-bottom: 0;
				}
			}
		}
	}
	.Banner-Light {
		padding-top: 200px;
		padding-bottom: 130px !important;
	}
}
@media screen and (min-width: 480px) {
	.content-md {
		padding: 60px 70px;
	}
}
