@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	#Banner {
		> .intro-content {
			.container {
				width: 1200px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.nopadding {
		padding: 0;
	}
	.no-margin {
		margin: 0;
	}
	#Header {
		height: 154px;
		.navbar {
			min-height: 154px;
		}
		.navbar-brand {
			height: 154px;
			max-height: 154px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.navbar-collapse {
			padding-left: 15px;
			padding-right: 15px;
		}
		.nav {
			> li {
				border-top: 0;
				padding-top: 50px;
				padding-left: 30px;
				&.active > a,
				> a:hover {
					border-bottom: 2px solid $color__main-brown;
				}
			}
			> li > a {
				background-color: transparent;
			}
		}
		&.transparent {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			.navbar:not(.navbar-fixed-top) {
				background-color: rgba(17, 17, 17, 0.65);
				border-bottom: 2px solid rgba(147, 122, 107, 0.251);
				.navbar-brand {
					> img:first-child {
						display: block;
					}
					> img:last-child {
						display: none;
					}
				}
				.nav {
					> li > a {
						color: #fff;
					}
					> li.active > a,
					> li > a:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
	#Banner {
		padding-top: 200px;
		padding-bottom: 200px;
		> .intro-content {
			.container {
				h1 {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media screen and (min-width: 480px) {
	.content-md {
		padding: 60px 70px;
	}
}
@media screen and (min-width: 240px) {
	.container-fluid-xs {
		padding-left: 0;
		padding-right: 0;
	}
}
