.map-and-address-wrapper {
	.map {
	}
	.address {
		padding-top: 50px;
		padding-bottom: 50px;
		.fa {
			color: $color__main-brown;
			font-size: 25px;
			&.fa-center {
				position: relative;
				top: 50%;
				transform: translateY(50%);
			}
		}
	}
}
.contact-form-wrapper {
	padding: 0 20px;
	.contact-form-box {
		background-color: $color__contact-form-box;
		padding: 30px 25px;
		label {
			@include raleway;
			color: $color__main-black;
			margin: 4px 0;
		}
		input.form-control {
			@include border-radius();
			height: 55px;
		}
		textarea {
			@include border-radius();
		}
	}
}
@media screen and (max-width: 767px) {
	.map-and-address-wrapper {
		.address {
			span.h6 {
				text-align: center;
				display: block;
			}
		}
	}
}
