footer {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color__main-black;
	color: $color__main-white;
	padding-top: 30px;
	.footer-widgets {
		.widgettitle {
			@include raleway-extrabold;
			color: $color__main-brown;
		}
		.textwidget {
			p, address {
				font-size: 17px;
				line-height: 1.65;
				@include raleway;
			}
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			line-height: 1.4;
			margin-bottom: 15px;
		}
	}
	.footer-social {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			margin: 0 1px;
			display: inline-block;
			a {
				color: #fafafa;
				.fa {
					font-size: 16px;
					background: $color__main-brown;
					padding: 13px 16px;
				}
			}
		}
	}
}
