footer {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color__main-black;
	color: $color__main-white;
	padding-top: 30px;
	.footer-widgets {
		.widgettitle {
			@include raleway-extrabold;
			color: $color__main-brown;
		}
		.textwidget {
			p, address {
				font-size: 17px;
				line-height: 1.65;
				@include raleway;
			}
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			line-height: 1.2;
			margin-bottom: 15px;
		}
	}
}
