footer {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color__main-black;
	color: $color__main-white;
	padding-top: 30px;
	.footer-widgets {
		.widgettitle {
			@include font_h3;
			@include raleway-extrabold;
			color: $color__main-brown;
		}
		.textwidget {
			@include font-h6;
			p, address {
				@include font-h6;
				@include raleway;
			}
		}
	}
	.copyright {

	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			line-height: 1;
			margin-bottom: 15px;
		}
	}
}
