.cafe-menu-wrapper {
	background-color: $color__main-brown;
	padding: 30px 65px 50px;
	.cafe-menu-item {
		border-bottom: 1px solid #bfa697;
		padding-top: 10px;
		padding-bottom: 10px;
		&:last-child {
			border-bottom: transparent;
		}
	}
}
.gradient-bg-image {
	.gradient-bg-image-box {
		padding: 130px 0 140px;
		.gradient-bg-image-box-border {
			border-bottom: 2px solid $color__main-brown;
			width: 100px;
			margin: 24px auto 25px;
		}
	}
}
