.cafe-menu-wrapper {
	background-color: $color__main-brown;
	padding: 30px 65px 50px;
	.cafe-menu-item {
		border-bottom: 1px solid #bfa697;
		padding-top: 10px;
		padding-bottom: 10px;
		&:last-child {
			border-bottom: transparent;
		}
	}
}
.gradient-bg-image {
	.gradient-bg-image-box {
		padding: 130px 0 140px;
		.gradient-bg-image-box-border {
			border-bottom: 2px solid $color__main-brown;
			width: 100px;
			margin: 24px auto 25px;
		}
	}
}
#coffee-tabs {
	margin-bottom: 80px;
	li {
		padding-right: 25px;
		a {
			color: $color__main-black;
			background-color: transparent;
			border: 1px solid $color__main-black;
			padding: 17px 0;
			@include border-radius(0);
		}
		&:hover a,
		&.active a {
			background-color: #927a69;
			color: #fff;
		}
	}
}
.tab-content {
	table {
		border: transparent;
		thead {
			th {
				border-bottom: transparent;
			}
		}
		tbody {
			tr {
				td {
					border-top: transparent;
					&:first-child {
						position: relative;
						padding-left: 0;
						&:after {
							content: "";
							border-bottom: 1px solid $color__main-brown;
							width: 100%;
							position: absolute;
							left: 0;
							right: 0;
							z-index: 1;
							top: 20px;
						}
					}
					.table-title {
						float: left;
						background: $color__main-white;
						z-index: 2;
						position: relative;
						padding-right: 6px;
					}
				}
			}
		}
	}
}
