/* Wordpress Page and Post default templates */
article.page, article.post {
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
	}
}
.page-title, .widgettitle, .widget-title {
	color: inherit;
}
.entry-content {
	padding-top: 20px;
}
.nav-previous, .nav-next {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 20px;
	a {
		text-align: center;
		border: 1px solid $color__main_brown;
		display: block;
		color: $color__main-brown;
		padding: 10px 20px;
	}
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}
#comments footer {
	background: transparent;
	color: #000;
}
