// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
// Typography
@mixin font_h1() {
	font-size: 78px;
	line-height: 1.026;
}
@mixin font_h2() {
	font-size: 48px;
	line-height: 1.667;
}
@mixin font_h3() {
	font-size: 22px;
	line-height: 1.273;
}
@mixin font_h4() {
	font-size: 20px;
	line-height: 1.2;
}
@mixin font_h5() {
	font-size: 19px;
}
@mixin font_h6() {
	font-size: 17px;
	line-height: 1.647;
}
@mixin font_p() {
	font-size: 15px;
}
@mixin font_small_p() {
	font-size: 14px;
	line-height: 2;
}
// Fonts
@mixin raleway() {
	font-family: 'Raleway-Regular', sans-serif;
	color: $color__main-white;
	font-weight: 400;
}
@mixin raleway-light() {
	font-family: 'Raleway-Light', sans-serif;
	color: $color__main-white;
	font-weight: 300;
}
@mixin raleway-light-italic() {
	font-family: 'Raleway-LightItalic', sans-serif;
	color: $color__main-white;
}
@mixin raleway-bold() {
	font-family: 'Raleway-Bold', sans-serif;
	color: $color__main-white;
}
@mixin raleway-bold-italic() {
	font-family: 'Raleway-BoldItalic', sans-serif;
	color: $color__main-white;
}
@mixin raleway-extrabold() {
	font-family: 'Raleway-ExtraBold', sans-serif;
	color: $color__main-white;
}
@mixin raleway-black() {
	font-family: 'Raleway-Black', sans-serif;
	color: $color__main-white;
}
@mixin raleway-medium-italic() {
	font-family: 'Raleway-MediumItalic', sans-serif;
	color: $color__main-white;
}
