.btn-version1 {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px 22px;
	&:hover {
		color: $color__main-white;
		background-color: $color__main-brown;
		border-color: #adadad;
		.fa {
			color: $color__main-white;
		}
	}
	.fa {
		color: $color__main-brown;
	}
}
.btn-version2 {
	color: inherit;
	background-color: transparent;
	border-color: #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px 22px;
	&:hover {
		color: $color__main-brown;
		background-color: $color__main-white;
		border-color: #adadad;
		.fa {
			color: $color__main-brown;
		}
	}
	.fa {
		color: $color__main-black;
	}
}
.btn-contact {
	@include raleway-bold;
	color: $color__main-brown;
	border-color: #ccc;
	@include border-radius(0);
	padding: 15px 35px;
	&:hover {
		color: $color__main-brown;
		background-color: $color__main-white;
		border-color: $color__main-brown;
	}
}
