html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	@include raleway;
	@include font_small_p;
	color: $color__main-black;
	background: $color__main-white;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
svg {
	display: block;
}
hr {
	background-color: $color__main-brown;
	border: 0;
	height: 2px;
	margin-bottom: 1.5em;
}
img {
	height: auto;
	max-width: 100%;
}
figure {
	margin: 1em 0;
}
a, a:hover {
	text-decoration: none;
}
a {
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}
[data-image] {
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}
section {
	padding-top: 10px;
	padding-bottom: 10px;
}
