html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	background: $color__background-body;
}
hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
img {
	height: auto;
	max-width: 100%;
}
figure {
	margin: 1em 0;
}
a, a:hover {
	text-decoration: none;
}
a {
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}
