html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	@include raleway;
	font-size: 17px;
	line-height: 1.647;
	color: $color__main-black;
	background: $color__main-white;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
svg {
	display: block;
}
hr {
	background-color: $color__main-brown;
	border: 0;
	height: 2px;
	margin-bottom: 1.5em;
}
img {
	height: auto;
	max-width: 100%;
}
figure {
	margin: 1em 0;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: 0;
	color: inherit;
}
a, button, input[type="button"] {
	@include transition;
}
i {
	@include raleway-light-italic;
	font-size: inherit;
	color: inherit;
}
[data-image] {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}
section {
	padding-top: 10px;
	padding-bottom: 10px;
}
strong {
	font-size: inherit;
	@include raleway-bold;
	color: inherit;
}
address {
	margin-bottom: 5px;
}
