.wrapper {
	position: relative;
	background-color: #fff;
	z-index: 1;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	@include center-block;
}
.text-brown {
	color: $color__main-brown;
}
.text-white {
	color: $color__main-white;
}
.text-black {
	color: $color__main-black;
}
.text-justify-center {
	text-align: justify;
	-ms-text-align-last: center;
	text-align-last: center;
}
.link-no-hover {
	color: inherit;
	&:hover {
		color: inherit;
	}
}
.home-banner-title {
	padding-top: 130px;
}
.banner-title-light {
	@include raleway-light;
}
.background-brown {
	background-color: $color__main-brown;
}
.background-white {
	background-color: $color__main-white;
}
.background-black {
	background-color: $color__main-black;
}
