#Header {
	position: relative;
	.container-fluid {
		max-width: 1200px;
	}
	.navbar {
		border-radius: 0;
		background-color: #fff;
		border: none;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 4;
		-webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
		&.navbar-fixed-top {
			position: fixed;
			-webkit-animation: dnavbarfixedtop .35s;
			animation: dnavbarfixedtop .35s;
		}
	}
	.navbar-brand {
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;
		max-height: 50px;
		padding: 10px 15px;
		> img {
			width: auto;
			height: 100%;
		}
		> img:first-child {
			display: none;
		}
	}
	.nav {
		> li {
			border-top: 1px solid #ddd;
			> a {
				line-height: 1.2;
				z-index: 89;
				font-size: 15px;
			}
			.dropdown-toggle {
				&.glyphicon {
					font-size: 10px;
					padding-left: 10px;
				}
			}
		}
	}
	.navbar-toggle {
		border-radius: 0;
		border-color: $color__main-brown;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		&:hover,
		> span {
			background-color: $color__main-brown;
		}
		&:hover > span {
			background-color: #fff;
		}
	}
}
@-webkit-keyframes dnavbarfixedtop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes dnavbarfixedtop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@media screen and (max-width: 767px) {
	#Header {
		.navbar {
			position: relative;
			margin-bottom: 0;
			background: $color__main-black;
			.navbar-toggle {
				margin-top: 25px;
			}
			.navbar-brand {
				padding: 0;
				height: 80px;
				max-height: 100%;
			}
			.navbar-collapse {
				-webkit-box-shadow: none;
				box-shadow: none;
				.navbar-nav {
					margin: initial;
					background: $color__main-white;
					li {
						a {
							color: $color__main_brown;
							.dropdown-toggle {
								font-size: 15px;
								position: absolute;
								right: 0;
								top: 0;
								padding: 10px 20px 12px 30px;
							}
						}
						&.active a {
							background-color: #eee;
						}
						a.open + .dropdown-menu {
							position: relative;
							display: block;
							float: none;
							border-radius: 0;
						}
						.dropdown-menu {
							li {
								a {
									line-height: 20px;
									padding: 10px 15px 10px 25px;
								}
								&.active a, a {
									background: transparent !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
